# Віртуальне оточення
venv/
env/
.env
__pycache__/
*.py[cod]
*$py.class

# Налаштування браузерів Playwright (можуть важити гігабайти)
.auth/
pw_screenshot.png
user_data/

# Специфічне для Python
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE та логи
*.log
.vscode/
.idea/
.DS_Store
