# Скомпіловані файли (дуже важкі)
/target/

# Локальні змінні середовища (паролі, ключі)
.env
.env.*
!.env.example

# Тимчасові файли Cargo
Cargo.lock
Cargo.lock.sv
**/*.rs.bk

# Специфічне для IDE
.vscode/
.idea/
*.swp
*.swo